:root {
  --logo-color: #5d5d6d;
  
  --bg-primary: #f0f0f5;
  --bg-secondary: #f3f5f6;
  --bg-blue: #115d8c;
  
  --text: #617480;
  --text-dark: #737380;
  --text-dark-2: #41414d;
  
  --shapes: #dce2e6;
  --shapes-light: #e9e9f0;
  --shapes-dark: #09090a;
  
  --delete-color: #de3838;
  --success-color: #51b753;
  --orange-low: #ffa585;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 72.5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.125rem 1.25rem;
  margin: 0 auto;
}

main {
  background-color: var(--bg-primary);
}

@media (max-width: 500px) {
  .container {
    padding: 1.5rem 1.25rem;
  }
}