:root {
  --logo-color: #5d5d6d;
  --bg-primary: #f0f0f5;
  --bg-secondary: #f3f5f6;
  --text-dark: #737380;
  --text-dark-2: #41414d;
  --shapes-dark: #09090a;
  --delete-color: #de3838;
  --orange-low: #ffa585;
  --shapes: #dce2e6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 72.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.125rem 1.25rem;
  margin: 0 auto;
}
